body {
  font-family: 'Space Mono', monospace;
  min-height: 100%;
  width: 100%;
  background-color: #f1f1f1

}

.title {
  text-align: center
}
.footer {
  text-align: center;
  height: 8%
}

.home {
  text-align: center
}

.profile-pic {
  width: 60%;
  margin-left: 20%;
  margin-top:4%;
  border-radius: 3%
}
.footer-container {
  position: sticky;
  margin-bottom: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  
  
}

.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
}

.about {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px
}

li {
  list-style: none
}

.footer-icons{
  max-width: 33%;
  max-height: 33%
}