body {
  font-family: 'Space Mono', monospace;
  min-height: 100%;
  width: 100%;
  background-color: rgba(113,140,155,.4)
}



.title {
  text-align: center
}
.footer {
  text-align: center;
  height: 8%
}

.home {
  text-align: center;
  height: 100vw;
  width: 90vw;
  margin: 0 auto;
  margin-top: 10px;
  padding: 30px 20px;
  border-top: 1px solid black;
}



.profile-pic {
  width: 60%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 3%

}

.about {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid black
}

.about > p {
  text-align: left;
}

.footer-container {
  width: 90vh;
  margin-bottom: 3px;
  /* position: relative; */
  /* margin: 0 auto; */
  display: flex;
  /* justify-content:space-around
   */
   justify-content: flex-center;
   margin-left: 12.5%
}

.footer {
  display: flex;
  flex-direction: row;
  width: 40%;
  text-align: center;
  
}



li {
  text-align: center;
  list-style: none;
  width: 80%
}

.footer-icons{
  width: 20%;
  text-align: center;

  
}

.copyright {
  font-size: 20%;
  text-align: center;
  margin-right: 15%

}

.project-container {
  align-items: center;
  display: grid;
    grid-template-columns: 66vw;
    grid-template-rows: 1fr 40vw;
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    border-top: 1px solid black;
    padding: 64px;
    justify-items: center;
    
    
}

.project-container > h1{
  grid-row: 1;
}

.project-container > a {
  width: 25%
}

.project-photo {
  height: 100%;
  grid-row: 2;
}

.project-links {
  display: flex;
  flex-direction: row;
}